/* all pages */
* {
  color: #2a3443;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  margin: auto;
}

h1, h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
  padding: 15px;
}

p {
  text-align: justify;
}

a:link {
  text-decoration: none;
}

header {
    background-color: #2a3443;
    margin: 0 auto 0 auto;
    width: 100%;
    overflow: auto;
    border-bottom: 5px solid #009efa;
}

h1 {
  float: left;
  color: #009efa;
}

nav {
  float: right;
  /* border: 2px dashed black; */
}

.nav-menu li {
  list-style-type: none;
  float: right;
  margin-top: 15px; 
  text-align: center;
}

.nav-menu li a {
  color: #009efa;
}

li a:hover {
  background-color: #009efa;
  color: #2a3443;
}

main {
    clear: both;
    margin: 0 auto;
    padding: 2%;
    max-width: 960px;
}

main h2 {
  color: #009efa;
  padding: 0 0 0 10px;
  /* border: 2px solid blue; */
}

.content {
    background-color: #ffffff;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow: auto;
    border: 10px solid #2a3443;
}

.center {
      /* background-color: #ffffff; */
    max-width: 90%;
    margin: 0 auto 0 auto;
    /* text-align: center; */
}

.row {
  width: 100%;
  margin: auto;
}

footer {
    clear: both;
    text-align: center;
    background-color: #2a3443;
    position: sticky;
    bottom: 0;
    border-top: 5px solid #009efa;
    padding-bottom: 3px;
}

footer p {
  color: #009efa;
  text-align: center;
}

/* About Page */

div > p:nth-child(1) {
  margin: inherit;
}

.content img {
  float: left;
  border: 2px solid black;
  width: 200px; 
  height: 200px;
  margin: 0 10px;
} 

/* Portfolio Page */

.column {
  width: 90%;
  padding: 0 10%;
}
.column img {
  padding: 5px;
  margin: 5px;
}

#portHeading {
  text-align: center;
}

/* Contact Page */

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:hover, textarea:hover {
  border: 1px solid #009efa;
}

input[type=submit] {
  font-size: 14px;
  border: .5px solid #cccccc;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
